<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More JPEG</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="flex h-screen w-screen items-center justify-center bg-slate-800">
        <div class="flex rounded-md bg-slate-900 p-10 space-x-4">
            <div class="flex flex-col space-y-4">
                <div>
                    <h1 class="text-4xl font-bold text-white">JP<span class="text-orange-300">EG</span></h1>
                    <h3 class="text-neutral-400">Jason Panieren - <span class="text-orange-300">Echt Geil</span></h3>
                </div>

                <div>
                    <form action="/upload" method="post" enctype="multipart/form-data" class="space-y-4">
                        <input type="file" name="file" class="text-slate-400" />

                        <section
                            class="space-y-2 rounded-md bg-slate-800 p-4 border border-transparent hover:border-slate-600 transform-colors duration-300">
                            <h2 class="text-sm font-bold text-slate-400">Advanced Settings</h2>

                            <div
                                class="flex space-x-2 rounded-md bg-slate-700 px-2 py-1 hover:bg-slate-900 transform-colors duration-300">
                                <h2 class="text-white">
                                    <span class="text-slate-400">Quality</span> (<span class="text-sm text-slate-500">
                                        <code class="rounded-md bg-slate-600 p-1 text-slate-300">0</code> = 🥴, <code
                                            class="rounded-md bg-slate-600 p-1 text-slate-300">100</code> = ✨ </span>)
                                </h2>
                                <input type="number" name="quality" min="0" max="100" value="10"
                                    class="rounded-md border border-slate-500 bg-slate-700 px-2 text-slate-400"
                                    placeholder="0-100" />
                            </div>

                            <div class="flex space-x-2">
                                <div
                                    class="flex space-x-2 rounded-md bg-slate-700 px-2 py-1 hover:bg-slate-900 transform-colors duration-300">
                                    <label for="watermark" class="text-slate-400">Enable Watermark?</label>
                                    <input type="checkbox" id="watermark" name="watermark" checked />
                                </div>

                                <div
                                    class="flex space-x-2 rounded-md bg-slate-700 px-2 py-1 hover:bg-slate-900 transform-colors duration-300">
                                    <label for="randomize" class="text-slate-400">Randomize?</label>
                                    <input type="checkbox" id="randomize" name="randomize" checked />
                                </div>
                            </div>
                        </section>

                        <input type="submit" value="Add More JPEG"
                            class="w-full rounded-md bg-orange-600 px-3 py-1 text-white hover:cursor-pointer hover:bg-orange-700 transform-colors duration-300 hover:animate-none animate-pulse hover:py-2" />
                    </form>
                </div>
            </div>
            <span class="flex-1 bg-slate-700 w-1 rounded-full"></span>
            <div>
                <img src="example.png" alt="example quality" />
            </div>
        </div>
    </main>
</body>

</html>